<nav class="navbar bg-font main">
  <div class="navbar-brand-logo">
    <img src="assets/images/logo-iss.svg">
  </div>
  <div class="navbar-title-content">
    <a routerLink="/"> Формирование доверенности </a>
  </div>
</nav>



<div class="container text-center sign-in-body">

<h3>
  Авторизоваться через
  <a  routerLink="." (click)="redirectAuthCenter()"> Личный Кабинет </a>
</h3>

<!-- <button class="btn btn-outline-info btn-sm" type="submit" (click)="createOnBase(list.id)"> Создать </button> -->



<!-- <router-outlet></router-outlet> -->


  <!-- <router-outlet></router-outlet> -->
</div>

<footer></footer>
