<div class="container">

  <div class="card">
    <div class="card-body">
      <div class="card-title text-center">
        <h4> Заполнение данных для доверенности</h4>
      </div>
      <div class="card-text">
        <form [formGroup]="form">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="col-lg-10 col-sm-9 col-xs-10">
                  <label for="tn"> Табельный номер: </label>
                </td>
                <td [ngClass]="{invalid: form.get('tn').touched && (form.get('tn').invalid || form.get('login').invalid), valid: form.get('tn').touched && form.get('tn').valid && form.get('login').valid }">
                  <input id="tn" type="text" placeholder="Табельный номер" formControlName="tn" class="form-control" (change)="findUser()">
                  <div
                    class="validation"
                    *ngIf="form.get('tn').touched && form.get('tn').invalid"
                  >
                    <small *ngIf="form.get('tn').errors.required"> Введите табельный номер </small>
                    <small *ngIf="form.get('tn').errors.maxlength">
                      Табельный номер должен быть не более {{form.get('tn').errors.maxlength.requiredLength }} символов
                    </small>
                    <small *ngIf="form.get('tn').errors.pattern"> Может содержать только цифры </small>
                </div>
                <div
                    class="validation"
                    *ngIf="form.get('tn').touched && form.get('tn').valid && form.get('fio').valid && form.get('login').invalid"
                  >
                    <small *ngIf="form.get('login').errors.required"> У пользователя отсуствует логин в ЛК </small>
                </div>
                <div
                    class="validation"
                    *ngIf="form.get('tn').touched && form.get('tn').valid && form.get('fio').invalid"
                  >
                    <small *ngIf="form.get('fio').errors.required"> Табельный номер не существует </small>
                </div>
                </td>
              </tr>

              <tr>
                <td>
                  <label for="sn_passport"> Серия и номер паспорта: </label>
                </td>
                <td [ngClass]="{invalid: form.get('sn_passport').touched && form.get('sn_passport').invalid, valid: form.get('sn_passport').touched && form.get('sn_passport').valid  }">
                  <input id="sn_passport" type="text" placeholder="Серия и номер" formControlName="sn_passport" class="form-control">
                  <div
                    class="validation"
                    *ngIf="form.get('sn_passport').touched && form.get('sn_passport').invalid"
                  >
                    <small *ngIf="form.get('sn_passport').errors.required"> Введите серию и номер паспорта</small>
                    <small *ngIf="form.get('sn_passport').errors.maxlength">
                      Пожалуйста, введите не более {{form.get('sn_passport').errors.maxlength.requiredLength }} символов
                    </small>
                </div>
                </td>
              </tr>

              <tr>
                <td>
                  <label for="passport_issued"> Кем выдан: </label>
                </td>
                <td [ngClass]="{invalid: form.get('passport_issued').touched && form.get('passport_issued').invalid, valid: form.get('passport_issued').touched && form.get('passport_issued').valid  }">
                  <input id="passport_issued" type="text" placeholder="Кем выдан" formControlName="passport_issued" class="form-control">
                  <div
                    class="validation"
                    *ngIf="form.get('passport_issued').touched && form.get('passport_issued').invalid"
                  >
                    <small *ngIf="form.get('passport_issued').errors.required"> Введите кем выдан паспорт</small>
                    <small *ngIf="form.get('passport_issued').errors.maxlength">
                      Пожалуйста, введите не более {{form.get('passport_issued').errors.maxlength.requiredLength }} символов
                    </small>
                </div>
                </td>
              </tr>

              <tr>
                <td>
                  <label for="date_passport"> Дата выдачи паспорта: </label>
                </td>
                <td [ngClass]="{invalid: form.get('date_passport').touched && form.get('date_passport').invalid, valid: form.get('date_passport').touched && form.get('date_passport').valid  }">
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="Выберите дату"
                        formControlName="date_passport"
                        ngbDatepicker #d1="ngbDatepicker"
                        required
                        type="text"
                        [minDate]="{year: 1930, month: 1, day: 1}"
                        [readonly]=true
                      >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                      </div>
                    </div>
                    <div
                      class="validation"
                      *ngIf="form.get('date_passport').touched && form.get('date_passport').invalid"
                    >
                      <small *ngIf="form.get('date_passport').errors.required"> Введите дату выдачи паспорта </small>
                    </div>
                  </div>

                </td>
              </tr>

              <tr>
                <td>
                  <label for="code_passport"> Код подразделения: </label>
                </td>
                <td [ngClass]="{invalid: form.get('code_passport').touched && form.get('code_passport').invalid, valid: form.get('code_passport').touched && form.get('code_passport').valid  }">
                  <input id="code_passport" type="text" placeholder="Код подразделения" formControlName="code_passport" class="form-control">
                  <div
                    class="validation"
                    *ngIf="form.get('code_passport').touched && form.get('code_passport').invalid"
                  >
                    <small *ngIf="form.get('code_passport').errors.required"> Введите код подразделения</small>
                    <small *ngIf="form.get('code_passport').errors.maxlength">
                      Пожалуйста, введите не более {{form.get('code_passport').errors.maxlength.requiredLength }} символов
                    </small>
                    <!-- <small *ngIf="form.get('code_passport').errors.pattern"> формат 123-123Ы </small> -->
                </div>
                </td>
              </tr>

              <tr>
                <td>
                  <label for="date_start"> Действительна с: </label>
                </td>
                <td [ngClass]="{invalid: form.get('date_start').touched && form.get('date_start').invalid, valid: form.get('date_start').touched && form.get('date_start').valid  }">
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder="Выберите дату"
                        name="date_start"
                        formControlName="date_start"
                        ngbDatepicker #d2="ngbDatepicker"
                        required
                        [readonly]=true
                      >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                      </div>
                    </div>
                    <div
                      class="validation"
                      *ngIf="form.get('date_start').touched && form.get('date_start').invalid"
                    >
                    <small *ngIf="form.get('date_start').errors.required">  Введите дату начала действия доверенности </small>
                    </div>
                  </div>

                </td>
              </tr>

              <tr>
                <td>
                  <label for="select_time"> Срок доверенности: </label>
                </td>
                <td [ngClass]="{invalid: form.get('select_time').touched && form.get('select_time').invalid, valid: form.get('select_time').touched && form.get('select_time').valid  }">
                  <select class="form-control" formControlName="select_time">
                    <option *ngFor="let select of arr_selected_time"
                            [ngValue]="select.value">
                        {{select.name}}
                    </option>
                  </select>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <label for="general"> Вести дела и представлять интересы АО «***REMOVED***» (дополнить фразу): </label>
                </td>
              </tr>
              <tr [ngClass]="{invalid: form.get('general').touched && form.get('general').invalid, valid: form.get('general').touched && form.get('general').valid  }">
                <td colspan="2">
                  <input id="general" type="text" placeholder="" formControlName="general" class="form-control">
                  <div
                    class="validation"
                    *ngIf="form.get('general').touched && form.get('general').invalid"
                  >
                    <small *ngIf="form.get('general').errors.required"> Не может быть пустым</small>
                    <small *ngIf="form.get('general').errors.maxlength">
                      Пожалуйста, введите не более {{form.get('general').errors.maxlength.requiredLength }} символов.
                      Сейчас он его длина равна {{form.get('general').errors.maxlength.actualLength }}
                    </small>

                </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <label> Выберите полномочие из списка или введите новое: </label>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <ng-select
                    [ngClass]="{ invalid: form.get('array_authority').invalid }"
                    [items]="lists"
                    appendTo="body"
                    placeholder=""
                    [(ngModel)]="selected"
                    [ngModelOptions]="{standalone: true}"
                    [clearable]=true
                    clearAllText="Удалить текст"
                    notFoundText="Не найдено"
                    [virtualScroll]=true
                    class="custom"
                    addTagText=""
                    [addTag]="true"
                    (change)="addSelected($event)"
                    #selected_input="ngModel"
                    [minTermLength]=4
                    [editableSearchTerm]="true"
                  >
                  </ng-select>

                  <div
                      class="validation"
                      *ngIf="selected_input.touched && form.get('array_authority').invalid"
                    >
                      <small *ngIf="!selected && form.get('array_authority').errors.required"> Не может быть пустым  </small>
                  </div>
                  <div
                      class="validation"
                      *ngIf="selected && selected.length > 700"
                    >
                      <small>
                        Пожалуйста, введите не более 700 символов.
                        Сейчас он его длина равна {{ selected.length }} символа
                      </small>
                  </div>

                  <div class="text-center">
                    <small> Для добавления в список нажмите на выбранный текст или на клавишу "Enter" </small>
                  </div>
                </td>

              </tr>

              <tr>
                <td colspan="2">

                  <div class="card">
                    <div class="card-header">
                      <label> Список полномочий: </label>
                      <!-- <button class="btn btn-outline-primary float-right" type="button" (click)="addElement()">  Добавить полномочие </button> -->
                    </div>
                    <div class="card-body text-center">
                      <label *ngIf="getFormsArray()['controls'].length == 0"> Список полномочий пуст </label>
                    </div>
                    <div>
                      <div formArrayName="array_authority">
                        <div *ngFor="let el of getFormsArray()['controls']; let i=index">

                          <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                              <tr>
                                <td class="col-xs-1 col-lg-1" style="padding-left: 10px;"> {{ i + 1 }} </td>
                                <td class="col-xs-17 col-sm-18 col-lg-20 col-md-20"> {{ getFormsArray()['controls'][i].value }} </td>

                                <td class="pointer col-xs-1 col-sm-1 col-lg-1 col-md-1 text-center">
                                  <i class="bi bi-pencil-square" (click)="onEditElement(i, getFormsArray()['controls'][i].value)" ngbPopover="Редактировать" triggers="mouseenter:mouseleave"></i>
                                </td>

                                <!-- col 1 -->
                                <td class="pointer col-xs-1 col-sm-1 col-lg-1 col-md-1 text-center">
                                  <i class="bi bi-trash" (click)="deleteElement(i)" ngbPopover="Удалить" triggers="mouseenter:mouseleave"></i>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </div>

                    </div>
                  </div>

                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <div class="card-text float-right">
                    <button class="btn btn-outline-secondary px-2" style="margin-right: 5px;" type="reset" (click)="clearArray()"> Очистить форму </button>
                    <button class="btn btn-outline-success" type="button" (click)="onSend()" [disabled]="submitted" [ngClass]="{'waiting': submitted}"> Сформировать документ </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </form>
      </div>
    </div>

  </div>
</div>
