<div class="modal-header text-center">
  <h4 class="modal-title w-100"> Регистрация документа </h4>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="id" class="col-lg-7"> Введите ID доверенности: </label>

      <div class="col-lg-14" [ngClass]="{invalid: form.get('id').touched && form.get('id').invalid }">
        <input id="id" type="number" placeholder="" formControlName="id" class="form-control" (input)="changeId()">
        <div
            class="validation"
            *ngIf="form.get('id').touched && form.get('id').invalid"
          >
            <small *ngIf="form.get('id').errors.required"> Не может быть пустым  </small>
        </div>
      </div>

      <button class="btn btn-outline-primary" (click)="findDocument()"> Найти </button>
    </div>

    <div *ngIf="form.value.fio" class="form-group">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th class="text-center"> ID </th>
            <th class="text-center"> Статус </th>
            <th class="text-center"> Доверенное лицо </th>
            <th class="text-center"> Дата действия </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-center col-lg-1"> {{ form.value.id }} </td>
            <td class="text-center col-lg-2" [innerHtml]="form.value.state | nameForStatus"> </td>
            <td class="text-center col-lg-3"> {{ form.value.fio }} </td>
            <td class="text-center col-lg-2" innerHTML="{{ form.value.date_start }} - {{ form.value.date_end }}"> </td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <label for="id" class="col-lg-7"> Номер доверенности: </label>

        <div class="col-lg-17" [ngClass]="{invalid: form.get('deloved_id').touched && form.get('deloved_id').invalid }">
          <input id="deloved_id" type="number" placeholder="" formControlName="deloved_id" class="form-control">
          <div
              class="validation"
              *ngIf="form.get('deloved_id').touched && form.get('deloved_id').invalid"
            >
              <small *ngIf="form.get('deloved_id').errors.required"> Не может быть пустым  </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input style="display: none" type="file" formControlName="file" (change)="uploadFile($event)" #hiddenfileinput>
        <button (click)="hiddenfileinput.click()" class="btn btn-outline-primary px-2"><i class="bi bi-folder2-open"> </i> Загрузить скан </button>
        {{ form.value.file_name }}
      </div>

    </div>

  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-outline-success" (click)="saveFile()"> Сохранить </button>
  <button (click)="activeModal.dismiss()" class="btn btn-outline-secondary px-2 "> Закрыть </button>
</div>
