<div class="modal-header text-center">
  <h4 class="modal-title w-100"> Регистрация документа </h4>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="id" class="col-lg-7 col-sm-7 col-xs-7"> Введите ID доверенности: </label>

      <div class="col-lg-14 col-sm-13 col-xs-13" [ngClass]="{invalid: form.get('id').touched && form.get('id').invalid, valid: form.get('id').touched && form.get('id').valid }">
        <input id="id" type="text" placeholder="" formControlName="id" class="form-control" (input)="changeId()">
        <div
            class="validation"
            *ngIf="form.get('id').touched && form.get('id').invalid"
          >
            <small *ngIf="form.get('id').errors.required"> Не может быть пустым  </small>
            <small *ngIf="form.get('id').errors.maxlength"> Пожалуйста, введите не более {{form.get('id').errors.maxlength.requiredLength }} символов </small>
            <small *ngIf="form.get('id').errors.pattern"> Может содержать только цифры </small>
        </div>
        <!-- <small> Поиск выполняется только по согласованным доверенностям </small> -->
      </div>

      <button class="btn btn-outline-primary" (click)="findDocument()"> Найти </button>
    </div>

    <div *ngIf="form.value.fio">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th class="text-center"> ID </th>
            <th class="text-center"> Статус </th>
            <th class="text-center"> Доверенное лицо </th>
            <th class="text-center"> Дата действия </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-center col-lg-1 col-sm-1"> {{ form.value.id }} </td>
            <td class="text-center col-lg-2 col-sm-2" [innerHtml]="form.value.state | nameForStatus"> </td>
            <td class="text-center col-lg-3 col-sm-3"> {{ form.value.fio }} </td>
            <td class="text-center col-lg-2 col-sm-2" innerHTML="{{ form.value.date_start }} - {{ form.value.date_end }}"> </td>
          </tr>
        </tbody>
      </table>

      <div class="form-row">
        <div class="form-group col-md-24 col-sm-24">
          <label for="deloved_id" class="col-lg-7 col-sm-7 col-xs-7"> Номер доверенности: </label>

          <div class="col-lg-17 col-sm-17" [ngClass]="{invalid: form.get('deloved_id').touched && form.get('deloved_id').invalid, valid: form.get('deloved_id').touched && form.get('deloved_id').valid }">
            <input id="deloved_id" type="text" placeholder="" formControlName="deloved_id" class="form-control">
            <div
                class="validation"
                *ngIf="form.get('deloved_id').touched && form.get('deloved_id').invalid"
              >
                <small *ngIf="form.get('deloved_id').errors.required"> Не может быть пустым  </small>
                <small *ngIf="form.get('deloved_id').errors.maxlength"> Пожалуйста, введите не более {{form.get('deloved_id').errors.maxlength.requiredLength }} символов </small>
                <small *ngIf="form.get('deloved_id').errors.pattern"> Может содержать только цифры и символ '-' </small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-24 col-sm-24">
          <input style="display: none" type="file" formControlName="file" (change)="uploadFile($event)" #hiddenfileinput>

          <div class="col-lg-17 col-sm-17">
            <button (click)="hiddenfileinput.click()" class="btn btn-outline-primary px-2"><i class="bi bi-folder2-open"> </i> Загрузить скан </button>
            {{ form.value.file_name }}
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-success" (click)="saveFile()" [hidden]="!form.value.fio" (dblclick)="writeLog()" > Сохранить </button>
  <button (click)="activeModal.dismiss()" class="btn btn-outline-secondary px-2 "> Закрыть </button>
</div>
