<nav class="navbar bg-font main">
  <div class="navbar-brand-logo">
    <img src="assets/images/logo-iss.svg">
  </div>

  <div class="navbar-title-content">
    <a routerLink="/"> Формирование доверенности </a>
  </div>

  <div class="navbar-header-user" *ngIf="isAuthenticated">
    <span> {{ fio_initials }} </span>
    <span (click)="logout()" class="pointer">
      <i class="bi bi-box-arrow-in-right"></i>
    </span>
  </div>
</nav>

<nav class="bg-nav-font">
  <ul class="nav navbar-tabs">
    <li routerLinkActive="active">
      <a [routerLink]="['/base']"> Форма заявки </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/list']"> Список документов </a>
    </li>
    <li routerLinkActive="active" *ngIf="access_to_chancellery">
      <a [routerLink]="['/chancellery']"> Канцелярия </a>
    </li>
    <li routerLinkActive="active" *ngIf="access_to_duties">
      <a [routerLink]="['/authority']"> Полномочия </a>
    </li>

  </ul>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer></footer>
