.navbar-tabs {
  margin-left: 20%;
  align-items: center;

  li {
    padding-top: 12px;
    padding-bottom: 12px;

    a {
      color: rgb(95, 95, 95);
      text-decoration: none !important;
      padding: 8px;

      &:hover {
        color: #222121;
        text-decoration: none !important;
      }
    }
  }

  li.active {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #e9f0f7;
    }

}
