<div class="header">
  <div class="container-header">

    <div class="logo">
      <img src="assets/images/logo-iss.svg">
      <a routerLink="/"> Формирование доверенности </a>

      <div class="header-user" *ngIf="isAuthenticated">
        <span> {{ fio_initials }} </span>
        <span (click)="logout()" class="pointer">
          <i class="bi bi-box-arrow-in-right"></i>
        </span>
      </div>

      <div [hidden]="!loading">
        <div class="spinner-border text-light" role="status"></div>
      </div>

    </div>
  </div>
</div>

<nav class="bg-nav-font">
  <ul class="nav navbar-tabs">
    <li routerLinkActive="active">
      <a [routerLink]="['/base']"> Форма заявки </a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/list']"> Список документов </a>
    </li>
    <li routerLinkActive="active" *ngIf="access_to_chancellery">
      <a [routerLink]="['/chancellery']"> Канцелярия </a>
    </li>
    <li routerLinkActive="active" *ngIf="access_to_duties">
      <a [routerLink]="['/authority']"> Полномочия </a>
    </li>

  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer></footer>
