<div class="container">
  <div class="form-group">
    <div class="row">
      <span class="col-lg-3">
        <button (click)="registrationDoc()" class="btn btn-outline-primary px-2 input-sm"> Регистрация документа </button>
      </span>

      <span class="col-lg-2">
        <input type="text" placeholder="ID доверенности" [(ngModel)]="filters.id" (ngModelChange)="filterChange()" class="form-control input-sm ">
      </span>

      <span class="col-lg-2">
        <input type="text" placeholder="Номер" [(ngModel)]="filters.deloved_id" (ngModelChange)="filterChange()" class="form-control input-sm">
      </span>

      <span class="col-lg-2">
        <select [(ngModel)]="filters.status" (ngModelChange)="filterChange()" class="form-control input-sm">
          <option *ngFor="let status of statuses" [ngValue]="status.value" [disabled]="status.disabled == 1">
            {{ status.name }}
          </option>
        </select>
      </span>

      <span class="col-lg-3">
        <input type="text" placeholder="ФИО" [(ngModel)]="filters.fio" (ngModelChange)="filterChange()" class="form-control input-sm">
      </span>
    </div>
  </div>

  <div *ngIf="lists; else loading">
    <div>
      <span *ngIf="lists.length; else noList">
        <div class="content-body">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th class="text-center"> ID Доверенности </th>
                <th class="text-center"> Номер </th>
                <th class="text-center"> Статус </th>
                <th class="text-center"> Доверенное лицо </th>
                <th class="text-center"> Дата действия доверенности </th>
                <th class="text-center"> Составитель доверенности </th>
                <th class="text-center"> Скачать скан </th>
                <th class="text-center"> Отозвать доверенность </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let el of lists; let idx = index">
                <td class="text-center col-lg-1"> {{ el.id }} </td>
                <td class="text-center col-lg-3" [innerHTML]="el.deloved_id || 'Не присвоен'"> </td>
                <td class="text-center col-lg-3" [innerHtml]="el.state | nameForStatus"></td>
                <td class="text-center col-lg-4"> {{ el.fio | shortName }} </td>
                <td class="text-center col-lg-2" innerHTML="{{ el.date_start }} - {{ el.date_end }}">  </td>
                <td class="text-center col-lg-4"> {{ el.author_fio | shortName }} </td>
                <td class="text-center col-lg-3">
                  <span *ngIf="el.exists == 1; else notDownload">
                    <button class="btn btn-outline-primary btn-sm" type="submit" (click)="download(el.id)"> Скачать </button>
                  </span>
                </td>
                <td class="text-center col-lg-2">
                  <button class="btn btn-outline-danger btn-sm" type="submit" (click)="withdraw(el.id)"> Отозвать </button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="lists.length">
          <span>
            Записи с {{ pagination.startRecord }} по {{ pagination.endRecord }} из {{ pagination.recordsFiltered }}
            <span *ngIf="pagination.totalItems !== pagination.recordsFiltered">
              (выборка из {{ pagination.totalItems }} записей)
            </span>
          </span>

          <ngb-pagination class="d-flex justify-content-end" [collectionSize]="pagination.recordsFiltered" [maxSize]="5" [pageSize]="pagination.maxSize" [(page)]="pagination.currentPage" [rotate]="true" (pageChange)="pageChanged($event)"></ngb-pagination>
        </div>
      </span>
    </div>

  </div>

</div>


<ng-template #loading>
  <div class="text-center"> Загрузка данных...</div>
</ng-template>

<ng-template #noList>
  <div class="card-title text-center">
    <span *ngIf="filters.id == '' && filters.status == '' && filters.fio == '' && filters.deloved_id == ''; else isBlank">
      <h4> Список доверенностей отсутствует </h4>
    </span>
  </div>
</ng-template>

<ng-template #isBlank>
  <div class="card-title text-center">
    <p> Данные отсутствуют </p>
  </div>
</ng-template>

<ng-template #notDownload>
  <div class="text-center">
    <p> Отсутствует </p>
  </div>
</ng-template>
