<div class="container">
  <div  *ngIf="lists; else loading">

    <div class="form-group">
      <div class="row">
        <div class="col-lg-2 col-sm-2">
          <input type="text" placeholder="ID доверенности" [(ngModel)]="filters.id" (ngModelChange)="filterChange()" class="form-control input-sm">
        </div>

        <div class="col-lg-3 col-sm-3">
          <select [(ngModel)]="filters.status" (ngModelChange)="filterChange()" class="form-control input-sm">
            <option *ngFor="let status of statuses" [ngValue]="status.value" [disabled]="status.disabled == 1">
              {{ status.name }}
            </option>
          </select>
        </div>

        <div class="col-lg-3 col-sm-3">
          <input type="text" placeholder="ФИО" [(ngModel)]="filters.fio" (ngModelChange)="filterChange()" class="form-control input-sm">
        </div>
      </div>
    </div>

    <div *ngIf="lists.length; else noList">
      <div>
        <div>

            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th> № </th>
                  <th> Наименование </th>
                  <th> Статус </th>
                  <th> Составитель доверенности </th>
                  <th> Доверенное лицо </th>
                  <th> Дата и время создания </th>
                  <th> Создать на основе </th>
                  <th> Скачать документ </th>
                  <th> Комментарий </th>
                  <th> </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let list of lists ; let idx = index">
                  <td class="col-lg-1"> {{ idx + 1 }} </td>
                  <td class="col-lg-2"> Доверенность_{{ list.id }}.pdf </td>
                  <td class="col-lg-3">
                    <ng-container
                      [ngTemplateOutlet]="descriptionStatus"
                      [ngTemplateOutletContext]="{ list:list }"
                    ></ng-container>
                  </td>

                  <td class="col-lg-4"> {{ list.author_fio | shortName }} </td>
                  <td class="col-lg-4"> {{ list.fio | shortName }} </td>
                  <td class="col-lg-2"> {{ list.date | date:'short' }} </td>
                  <td class="col-lg-2"> <button class="btn btn-outline-info btn-sm" type="submit" (click)="createOnBase(list.id)"> Создать </button> </td>
                  <td class="col-lg-4" *ngIf="list.state == 1 || list.state == 5; else notDownload">
                    <span >
                      <button class="btn btn-outline-primary btn-sm" type="submit" (click)="downloadDoc(list.id, list.state)">
                        Скачать
                        <ng-container *ngIf="list.state == 1; else elseStateFive">
                          скан
                        </ng-container>
                      </button>
                    </span>
                  </td>
                  <td class="trim-info col-lg-3" ngbPopover="{{list.sign_comment}}" triggers="mouseenter:mouseleave" placement="top">
                    {{ list.sign_comment }}
                  </td>
                  <td class="pointer col-lg-2 text-danger">
                    <i class="bi bi-trash" (click)="deleteDoc(list.id)" ngbPopover="Удалить доверенность" triggers="mouseenter:mouseleave"></i>
                  </td>
                </tr>
              </tbody>
            </table>

        </div>
      </div>

    </div>
  </div>


</div>

<ng-template #loading>
  <div class="text-center"> Загрузка данных...</div>
</ng-template>

<ng-template #noList>
  <div class="card-title text-center">
    <span *ngIf="filters.id == '' && filters.status == '' && filters.fio == ''; else isBlank">
      <h4> Пока нет сформированных документов.
        <a routerLink="/new" > Создать доверенность </a>
      </h4>
    </span>
  </div>
</ng-template>

<ng-template #isBlank>
  <div class="card-title text-center">
    <p> Данные отсутствуют </p>
  </div>
</ng-template>

<ng-template #notDownload>
  <div class="text-center">
    <p> Нет возможности </p>
  </div>
</ng-template>

<ng-template #descriptionStatus let-list='list' >
  <div *ngIf="list.state == 0" [innerHtml]="list.state | nameForStatus" triggers="mouseenter:mouseleave" ngbPopover="Доверенность ожидает согласования"> </div>
  <div *ngIf="list.state == 1" [innerHtml]="list.state | nameForStatus" triggers="mouseenter:mouseleave" ngbPopover="Доверенность полностью согласована и зарегистрирована" popoverClass="text-center"> </div>
  <div *ngIf="list.state == 2" [innerHtml]="list.state | nameForStatus" triggers="mouseenter:mouseleave" ngbPopover="Период действия доверенности закончен"> </div>
  <div *ngIf="list.state == 3" [innerHtml]="list.state | nameForStatus" triggers="mouseenter:mouseleave" ngbPopover="Доверенность не прошла согласование" popoverClass="text-center"> </div>
  <div *ngIf="list.state == 4" [innerHtml]="list.state | nameForStatus" triggers="mouseenter:mouseleave" ngbPopover="Доверенность была отозвана"> </div>
  <div *ngIf="list.state == 5" [innerHtml]="list.state | nameForStatus" triggers="mouseenter:mouseleave" ngbPopover="Доверенность прошла согласование"> </div>
</ng-template>

<ng-template #elseStateFive>
  проект
</ng-template>
